*{margin: 0 ; padding: 0;}
a{text-decoration: none;}
img{border: 0px;}
ul,ol,li{list-style: none;}
.fl{float: left;display: inline;}
.fr{float: right;display: inline;}




.container{overflow: hidden;width: 510px;height: 330px;margin: auto;position: relative;margin-top: 200px;}
.main{width: 3570px;height: 330px;font-size: 0;left: -510px;position: absolute;}
.list{margin-left: -35px; left: 50%;border-radius:7px; position: absolute;bottom: 20px;font-size: 0;background: rgba(255, 255, 255, 0.4);}
.list li{cursor: pointer; height: 8px;width: 8px;border-radius: 50%;display: inline-block;margin: 3px; background: #ccc;}
.list .active{background: #000;}
.btn{display: none; width: 40px;height: 40px;position: absolute;font-size: 20px; top: 50%;margin-top: -20px;text-align: center;line-height: 40px;color: #fff;background: rgba(0, 0, 0, 0.3);}
#prev{left: 0;}
#next{right: 0;}
.container:hover .btn{display: block;}
