// 宽高
@mixin wh($width, $height) {
	width: $width;
	height: $height;
}
// flex布局和justify-content
@mixin fj($type:space-between) {
	display: flex;
	justify-content: $type;
}
// 字体和颜色
@mixin sc($size, $color) {
	font-size: $size;
	color: $color;
}